h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Montserrat';
}

.section{
  padding-top: 100px;
}

body {
  font-family: 'Montserrat';
}

@media(max-width:1200px){
  .section{
    padding-top: 70px !important;
  }  
}

@media(max-width:767px){
  .section{
    padding-top: 70px !important;
  }  
}

.header{
  display: flex;
  place-content: space-between;
  height: 117px;
  align-items: center;
}

.logo{
  height: 60px;
}

.menu-item{
  display: flex;
  place-content: space-between;
  align-items: center;
}

/* .menu-item p{
height: 50px;
} */


.menu-item p:hover{
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  transition-duration: 0.7s;
}

/* sec1 */

.sec1{
  background: linear-gradient(to right,#F2F2F2 50%, white 50%);
  padding-bottom: 100px;
}

.div2{
   display: flex;
   place-content: center;
}

.div2sub{
  display: flex;
}

.topv{
  position: absolute;
  left: 59px;
}

.topview{
  width: 300px;
height: 96px;
margin-top: 32px;
border-radius: 80px;
}

.topview2{
  width: 300px;
  height: 96px;
  border-radius: 80px;
  margin-top: 20px;
}

.bannertitle{
  font-family: Montserrat;
font-size: 10.2vw;
font-weight: 600;
line-height: 168px;
letter-spacing: 0em;
text-align: center;
}

.div3{
  padding-left: 10vw;
  margin-top: 40px;
  display: flex;
  place-content: space-between;
}

.banner_btn{
  color: white;
  background: #479C2B;
  border: 1px solid #479C2B;
  border-radius: 40px;
  height: 50px;
  width: 160px;
  margin-top: 20px;
}

.banner_desc{
font-size: 13px;
font-weight: 400;

}

.btn_txt{
font-family: 'Montserrat';
font-size: 13px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}

.arr{
  padding-right: 10px;
  margin-top: 0.8em;
  height: 100px;
}

.star1{
  position: absolute;
  top: 294px;
  right: 25vw;
  height: 50px;
}

.star2{
  position: absolute;
  right: 10vw;
  top: 27em;
}

.community{
  align-items: end;
  display: flex;
  flex-direction: column;
}

.pot{
  position: absolute;
  top: 24em;
  height: 29em;
  left: 15.6em;
}

.propic{
  height: 47px;
  width: fit-content;
  align-self: right;
}

.comdiv{
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}

#canvas3d .spline-watermark{
  display: none !important;
}

/* 3d */
.modpc{
  position: absolute;
  left: 30vw;
  top: 14em;
  z-index: 1;
}

.spline-watermark{
  display: none;
}


/* 3d */
/* sec1 */

/* sec2 */

.imgsvg{
  position: absolute;
  left: 0;
  width: 215px;
  top: 61em;
}

.sec2btn{
  width:  198px;
height: 72px;
top: 1541px;
left: 625px;
padding: 16px, 24px, 16px, 24px;
border-radius: 80px;
border: 1px;
gap: 16px;
border: 1px solid #000;
background-color: white;
margin-top: 20px;
}

.sec2 .container{
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.sec2desc{
    margin-top: 20px;
    line-height: 24px;
    font-size: 17px;
}

.continents{
  width: fit-content;
  position: absolute;
  right: 19vw;
  top: 36em;
}

.volunteers{
  width: auto;
  position: absolute;
  right: 4vw;
  top: 40em;
}

.sec2{
  z-index: 10000;
  background: white;
  position: relative;
}


.our{
  font-size: 172px;
  font-weight: 900;
  height: auto;
  line-height: 149px;
}

.mission{
  font-size: 86px;
  font-weight: 600;
  height: auto;
  line-height: normal;
}
/* sec2 */

/* sec3 */

.boxcol{
  display: flex;
  flex-direction: column;
}

.sec3_title{
  font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: -3px;
text-align: left;
}

.sec3box{
  border-bottom: 1px solid #AFB3BB;
  padding: 20px 0;
  display: flex;;
  flex-direction: column;
  row-gap: 10px;
}

.sec3_boxtitle{
  font-family: 'Inter';
font-size: 20px;
font-weight: 700;
}

.sec3_boxdesc{
font-size: 13px;
font-weight: 400;
width: 150px;
}

.sec3_boxmail{
  font-family: 'Inter';
  font-size: 14px;
  margin-top: 15px;
  font-weight: bold;
}

/* sec3 */

/* sec4 */

.sec4div1{
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  place-content: space-around;
}

.sec4_title{
  font-family: Inter;
font-size: 56px;
font-weight: 600;
line-height: 67px;
letter-spacing: -2px;
}

.sec4_desc{
font-family: Inter;
font-size: 15px;
font-weight: 500;
margin-top: 10px;
width: 300px;
line-height: 32px;
color: #7E8492;
letter-spacing: 0px;
text-align: left;
}

 /* sec4 */

 /* sec5 */

 .sec5{
  background-image: url("./img/sec5bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
 }

.sec5_title{
font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;
}

.sec5_desc{
  font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

.form_field{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sec5col1{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 8vw;
  width: -webkit-fill-available;
  padding: 50px;
  border: 1px solid #CED1D8;
  background-color: white;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_input{
padding: 10px, 14px, 10px, 14px;
border-radius: 8px;
border: 1px solid #EDEDED;
gap: 8px;
height: 44px;
}

::placeholder{
  padding-left: 20px;
}

#message{
  height: 134px;
  padding-top: 15px;
}

.submit{
  width: 167px;
height: 56px;
padding: 16px, 32px, 16px, 32px;
border-radius: 100px;
gap: 8px;
border: 1px solid black;
background-color: #000;
color: white;
}

 /* sec5 */

@media(min-width:1000px){
  .modmob{
    display: none;
  }
  .mobpc{
    display: inherit;
  }
}

@media(max-width:1000px){
  .div3sub{
    z-index: 9999;
    background: linear-gradient(to right,#F2F2F2 53.5%, white 46%);
  }

}

 /* 1200px and 800px*/

 @media(min-width:800px) and (max-width:1100px){
  .section{
    padding-top: 70px;
  }  

  .imgsvg {
    top: -0.6em;
    left: 20px;
    width: 24vw;
}
/* 
.div3sub{
  z-index: 9999;
  background: linear-gradient(to right,#F2F2F2 46.5%, white 46%);
} */

.our{
  font-size: 80px;
}

.mission{
  font-size: 80px;
}


.sec2desc{
  font-size: 15px;
}

.continents {
  width: 7vw;
  right: 17vw;
}

.volunteers {
  width: 10vw;
}

.sec2btn {
  width: 19vw;
}


.sec3_title{
  font-size: 6vw;
}

.boxcol{
  display: flex;
  place-content: space-between;
  flex-direction: row;
}

.div3 {
  flex-wrap: wrap;
  padding-left:0px;
}

.sec2img1{
  width: 37vw;
}

.div3sub{
  z-index: 9999;
  background: linear-gradient(to right,#F2F2F2 53.5%, white 46%);
}

.sec2btn {
  height: 7vw;
  width: 17vw;
}

.continents {
  right: 21vw;
  top: 37em;
}

.continents {
  right: 21vw;
  top: 37em;
}
}

 /* 1200px and 800px*/

/* 800px */

@media(max-width:800px){
  .section{
    padding-top: 50px;
  }  

  .menu-item {
    gap:50px;
  }

  .sec1{
    padding-right: 20px;
  }

.sec2 .container{
 gap: 0;
 flex-direction: row;
}

.sec2img1{
  width: -webkit-fill-available;
  height: 550px;
}

.container{
  padding: 0 20px;
}
/* 
.continents {
  right: 82vw;
  top: 110em;
}

.volunteers {
  right: 26vw;
  top: 115em;
} */

.boxcol{
  gap: 30px;
  margin-top: 30px;
  width: -webkit-fill-available;
}

.sec3box{
  width: -webkit-fill-available;
  row-gap: 20px;
}

.sec3_boxdesc{
  width: -webkit-fill-available;
}

.sec3_boxmail{
  margin-top: 0;
}

.menu-item{
  display: none;
}

.div3 {
  flex-direction: column;
  align-items: center;
}

.our{
  font-size: 13vw;
  line-height: initial;
  margin-top: 50px;
}

.mission{
  font-size: 13vw;
}

.sec3_title{
  font-family: Inter;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -1px;
}

.sec5col1 {
  margin-left: auto;
}
.sec5_title {
  font-size: 30px;
}

p{
  font-size: 14px !important;
}

.form_field {
  width: -webkit-fill-available;
}

.volunteers {
  right: 7vw;
  top: 47em;
  width: 70px;
}

.continents {
  right: 26vw;
  top: 42em;
  width: 60px;
}

.imgsvg {
  top: 0em;
  width: 140px;
}

.topview {
  width: 22vw;
  height: 7vw;
  margin-top: 11px;
}

.star1 {
  top: 161px;
  right: 21vw;
  height: 25px;
}

.star2 {
  right: 9vw;
  top: 18.5em;
  width: 15px;
}

.community{
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 70px;
  gap:30px;
}

.topview2{
  width: 140px;
  height: 50px;
  margin-top: -11px;
}

.topv {
  left: 20px;
}

.community{
flex-direction: row;
place-content: space-between;
}

.arr{
  padding-right: 10px;
  margin-top: 0.8em;
  height: 50px;
}

.sec1{
  text-align: center;
}

.bannertitle{
  line-height: normal;
}

.comdiv{
  align-items: center;
}

.sec4div1 {
  row-gap: 50px;
  place-content: space-around;
}

.sec4img1, .sec4img2, .sec4img3, .sec4img4{
  width: 115px;
}

.gogreen{
  width: 100%;
}

.sec4_desc{
  width: 100%;
}

.modmob {
  display: inherit;
  left: 29vw;
  position: absolute;
  top: 9em;
  z-index: 1;
}

.modpc{
  display: none;
}

.div3{
  margin-top: 120px;
  padding-left: 0;
}


.logo {
  height: 40px;
}

.sec2btn{
  height: 10vw;
  width: 30vw;
}

}

/* 800px */
